<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965900192999-hlapts872547gaj2tvt343q94d4ldtsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965900192999-hlapts872547gaj2tvt343q94d4ldtsj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPBcXvEKtSBRgEhLAA0X1_sLxUUjd6j4s</string>
	<key>GCM_SENDER_ID</key>
	<string>965900192999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abdulCo.LADiaspora</string>
	<key>PROJECT_ID</key>
	<string>ladiaspora-daf90</string>
	<key>STORAGE_BUCKET</key>
	<string>ladiaspora-daf90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965900192999:ios:3b290cae632e2e7f8b2642</string>
	<key>DATABASE_URL</key>
	<string>https://ladiaspora-daf90.firebaseio.com</string>
</dict>
</plist>